<html>
	<head>
	<style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		body {
			;
		}

		.content {
			 height: 200px;
			width: 400px;
			

			position: fixed;
			top: 35%;
			left: 50%;
			margin-top: -100px;
			margin-left: -200px;
		}
</style>
	</head>
   <body style ="background-color:#08b4fc">
      <div class="content">
	  <p><center><img src="./imagen/cloud1.png" alt="Trulli" width="483" height="283"></p></center>
      <form action = "/search" method = "post">
         <p><center>Escriba su consulta:</center></p>
         <p><center><input type = "text" name = "nm" size="35"/></center></p>
         <p><center><input type = "submit" value = "Buscar" /></center></p>
      </form>
      </div>
   </body>
</html>