<html> 
<head>
 <style>
 footer {
 background-color: #777;
 padding: 10px;
 text-align: center;
 color: white;
 }
 
 .divider{ 
 width:5px; 
 height:auto;
 display:inline-block;
 } 
 
 article {
 float: left;
 padding: 20px;
 width: 70%;
 background-color: #08b4fc;
 height: 300px; 
 }
 
 nav {
 float: left;
 width: 10%;
 height: 300px;
 background: #08b4fc;
 padding: 20px;
 }</style>
 
 </head> 
 
 <body style="background-color:#08b4fc;">
 
 <form action="/newsearch" method="post">
 <center><p>Escriba su consulta:<input type = "text" name = "nm" /><input type = "submit" value = "Buscar" /></p></center>
<p>Numero de resultados {{l|length }}</p> 
 </form>
 
 <section>
 <nav><ul>
 
 </ul></nav>
 <article>
 
 </article>
 <table border = 1>
         <ul>
		 {% block content0 %}
			{% if 0+(10*y)< l|length%}
				<li>{{ l[0+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content0 %}
			{% block content1 %}
			{% if 1+(10*y)< l|length%}
				<li>{{ l[1+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content1 %}
			{% block content2 %}
			{% if 2+(10*y)< l|length%}
				<li>{{ l[2+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content2 %}
			{% block content3 %}
			{% if 3+(10*y)< l|length%}
				<li>{{ l[3+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content3 %}
			{% block content4 %}
			{% if 4+(10*y)< l|length%}
				<li>{{ l[4+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content4 %}
			{% block content5 %}
			{% if 5+(10*y)< l|length%}
				<li>{{ l[5+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content5 %}
			{% block content6 %}
			{% if 6+(10*y)< l|length%}
				<li>{{ l[6+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content6 %}
			{% block content7 %}
			{% if 7+(10*y)< l|length%}
				<li>{{ l[7+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content7 %}
			{% block content8 %}
			{% if 8+(10*y)< l|length%}
				<li>{{ l[8+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content8 %}
			{% block content9 %}
			{% if 9+(10*y)< l|length%}
				<li>{{ l[9+(10*y)]|safe }}</li>
				{% else %}
					{{ super() }}
				{% endif %}
			{% endblock content9 %}
		</ul>  
		 
      </table>
 </section>
 <section>
 <nav><ul></ul></nav>
 <article>
 <form action="/oldPage" method="post"><button type="submit" name="Previo" value="Prev">Previo</button></form>
 <form action="/newPage" method="post"><button type="submit" name="Siguiente" value="Next">Siguiente</button> </form></footer>
 </article></section>
 </body></html>